/* mixins */
@mixin footer-section {
    // background-color: $purple;
    display: $display-flex;
    align-items: $center;
    height: $one-hundred-px;
    width: $one-hundred-porcent ;
}

@mixin footer-a {
    color: $white;
    cursor: pointer;
    font-size: 14px;
    padding-left: $thirty;
    text-decoration: none;
}

@mixin form-center {
    // background: linear-gradient($background-color, $purple);
    display: $display-flex;
    align-items: $center;
    justify-content: $center;
    flex-direction: $direction-column;
    padding: 0px $thirty;
    min-height: calc(100vh - 200px);
}

@mixin header-layout {
    align-items: $center;
    // background-image: $background-image;
    color: $white;
    display: $display-flex;
    height: $one-hundred-px; 
    justify-content: $content-space-between;
    top: 0px;
    width: $one-hundred-porcent ;
}