/*variables.*/
$white : white;
$background-image : url("../../assets/pexels-nugroho-wahyu-3119180.jpg");
$purple : #AB88FF;

$center : center;
$direction-column : column;
$display-flex : flex;
$content-space-between : space-between;

$font-family : 'Mulish', sans-serif;

$one-hundred-px : 100px;
$one-hundred-porcent : 100%;
$thirty : 30px;
  
